/build
/google-services.json
/src/main/res/values/strings.xml
/local.properties
/.idea
/.gradle
/captures
/.externalNativeBuild
/.cxx
.DS_Store
*.iml
*.jks
/src/main/java/com/example/localconnect/util/CloudinaryManager.kt